In [717]:
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx
import seaborn as sns
from ipywidgets import interact

# Reading Dataset

In [581]:
CANADA_PORT_OF_ENTRY_FILE = "../data/canada_port_of_entry_data.csv"

In [582]:
# Read CSV files into DataFrame df

df_canada_entry = pd.read_csv(CANADA_PORT_OF_ENTRY_FILE, 
#                                         index_col = 0, 
                                        header=0)

# Cleanig Data

In [583]:
df_canada_entry.drop(["DGUID",
                      "UOM",
                      "UOM_ID",
                      "SCALAR_FACTOR",
                      "SCALAR_ID",
                      "VECTOR",
                      "COORDINATE",
                      "STATUS",
                      "SYMBOL",
                      "TERMINATED",
                      "DECIMALS"], inplace = True, axis =1)

In [584]:
df_canada_entry = df_canada_entry[df_canada_entry["GEO"] != "Canada"]

In [585]:
df_canada_entry = df_canada_entry[df_canada_entry["Country of residence"].str.contains('total') == False]

In [586]:
df_canada_entry = df_canada_entry[df_canada_entry["Country of residence"].str.contains('Total') == False]

In [587]:
df_canada_entry = df_canada_entry[df_canada_entry["Country of residence"].str.contains('classified') == False]

In [588]:
df_canada_entry = df_canada_entry[df_canada_entry["Country of residence"].str.contains('Island') == False]

In [589]:
df_canada_entry = df_canada_entry[df_canada_entry["Country of residence"].str.contains('part') == False]

In [590]:
df_canada_entry = df_canada_entry[df_canada_entry["Country of residence"].str.contains('Territory') == False]

In [591]:
df_canada_entry[['YEAR', 'MONTH']] = df_canada_entry['REF_DATE'].str.split('-', 1, expand=True)

df_canada_entry['YEAR'] = df_canada_entry['YEAR'].astype(int)
df_canada_entry['MONTH'] = df_canada_entry['MONTH'].astype(int)

In [592]:
df_canada_entry.drop(["REF_DATE"], inplace = True, axis =1)

In [593]:
df_cleaned_groupby_entry = df_canada_entry.groupby(['YEAR','MONTH','Country of residence','GEO']).sum()

In [594]:
df_cleaned_groupby_entry

                                                           VALUE
YEAR MONTH Country of residence GEO
1972 1     Australia            Alberta                        7
                                British Columbia             174
                                Manitoba                      13
                                New Brunswick                  2
                                Newfoundland and Labrador      1
...                                                          ...
2021 8     Zimbabwe             Ontario                       18
                                Prince Edward Island           0
                                Quebec                         5
                                Saskatchewan                   0
                                Yukon                          0

[1119312 rows x 1 columns]

# Extracting DEMAND by Entry Data by Year and Month

In [595]:
# df_cleaned_groupby_entry = (df_cleaned_groupby_entry - df_cleaned_groupby_entry.min())/(df_cleaned_groupby_entry.max() - df_cleaned_groupby_entry.min())

In [767]:
df_year_month_entry_data = {}

START_YR = 2017
END_YR = 2021

for year in range(START_YR, END_YR + 1):
    months_data = {}
    for month in range(1, 12 + 1):
        if year == 2021 and month == 9:
            break
        month_df = (df_cleaned_groupby_entry.loc[(year,month)] - df_cleaned_groupby_entry.loc[(year)].min()) / (df_cleaned_groupby_entry.loc[(year)].max() - df_cleaned_groupby_entry.loc[(year)].min())
        months_data[month] = month_df.reset_index().pivot_table(index='Country of residence', 
                                                                  columns='GEO', 
                                                                  values='VALUE',
                                                                  aggfunc='sum', 
                                                                  fill_value=0)
        months_data[month] = months_data[month].sort_values(['Ontario'], ascending=False)
    df_year_month_entry_data[year] = months_data

In [769]:
YEAR = 2019
MONTH = 12

df_year_month_entry_data[YEAR][MONTH]#.style.background_gradient(cmap='Reds')

GEO,Alberta,British Columbia,Manitoba,New Brunswick,Newfoundland and Labrador,Nova Scotia,Nunavut,Ontario,Prince Edward Island,Quebec,Saskatchewan,Yukon
Country of residence,,,,,,,,,,,,
United Kingdom,0.069564,0.144821,0.001814,0.000633,0.001014,0.001050,0.000012,0.348931,0,0.065184,0.000728,0.000036
Mexico,0.023880,0.190314,0.003342,0.000072,0.000406,0.000346,0.000000,0.224661,0,0.120762,0.000537,0.000167
China,0.002888,0.229888,0.001241,0.000072,0.000012,0.000322,0.000000,0.223813,0,0.033905,0.000095,0.000012
India,0.004630,0.078706,0.000322,0.000131,0.000072,0.000072,0.000000,0.208287,0,0.008784,0.000048,0.000048
Brazil,0.005299,0.039562,0.002124,0.000227,0.000036,0.000656,0.000000,0.102491,0,0.034060,0.000191,0.000024
...,...,...,...,...,...,...,...,...,...,...,...,...
Pitcairn,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000
Palau,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0.000012,0.000000,0.000000
Azores,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000
Tokelau,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0.000012,0.000000,0.000000
Seychelles,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0.000024,0.000000,0.000000

# Problity Data

In [770]:
df_year_month_probablity_data = {}

START_YR = 2017
END_YR = 2021

for year in range(START_YR, END_YR + 1):
    months_data = {
        "proviences_sums" : [],
        "provience_df" : None,
        "countries_sum" : [],
        "country_df" : None
    }
    for month in range(1, 12 + 1):
        if year == 2021 and month == 9:
            break
        
        df_groupby = df_cleaned_groupby_entry.loc[(year,month)].groupby(['GEO'])
        df_sum = df_groupby.sum().sum()
        months_data["proviences_sums"].append(df_sum.VALUE)
        if(month == 1):
            months_data["provience_df"] = df_groupby.sum() / df_sum
        else:
            df = df_groupby.sum() / df_sum
            months_data["provience_df"] = months_data["provience_df"].join(df,
                                              how="inner",
                                              lsuffix="",
                                              rsuffix="_"+str(month))
        
        df_groupby = df_cleaned_groupby_entry.loc[(year,month)].groupby(['Country of residence'])
        df_sum = df_groupby.sum().sum()
        months_data["countries_sum"].append(df_sum.VALUE)
        if(month == 1):
            months_data["country_df"] = df_groupby.sum() / df_sum
        else:
            df = df_groupby.sum()/ df_sum
            months_data["country_df"] = months_data["country_df"].join(df,
                                              how="inner",
                                              lsuffix="",
                                              rsuffix="_"+str(month))
            
    months_data["provience_df"].rename(columns = {'VALUE':'1',
                                                  'VALUE_2':'2',
                                                  'VALUE_3':'3',
                                                  'VALUE_4':'4',
                                                  'VALUE_5':'5',
                                                  'VALUE_6':'6',
                                                  'VALUE_7':'7',
                                                  'VALUE_8':'8',
                                                  'VALUE_9':'9',
                                                  'VALUE_10':'10',
                                                  'VALUE_11':'11',
                                                  'VALUE_12':'12'}, inplace = True)
    months_data["provience_df"].sort_values(['1'], ascending=False, inplace = True)
    
    months_data["country_df"].rename(columns = {'VALUE':'1',
                                                  'VALUE_2':'2',
                                                  'VALUE_3':'3',
                                                  'VALUE_4':'4',
                                                  'VALUE_5':'5',
                                                  'VALUE_6':'6',
                                                  'VALUE_7':'7',
                                                  'VALUE_8':'8',
                                                  'VALUE_9':'9',
                                                  'VALUE_10':'10',
                                                  'VALUE_11':'11',
                                                  'VALUE_12':'12'}, inplace = True)
    months_data["country_df"].sort_values(['1'], ascending=False, inplace = True)
    
    df_year_month_probablity_data[year] = months_data

In [771]:
YEAR = 2020

In [772]:
df_year_month_probablity_data[YEAR]["provience_df"]#.style.background_gradient(cmap='Reds')

,1,2,3,4,5,6,7,8,9,10,11,12
GEO,,,,,,,,,,,,
Ontario,0.438205,0.418350,0.474244,0.516777,0.435842,0.438613,0.504370,0.533611,0.552132,0.535968,0.556463,0.539256
British Columbia,0.348854,0.297756,0.269017,0.149728,0.213393,0.236766,0.211847,0.221227,0.232206,0.233096,0.224212,0.187664
Quebec,0.164853,0.223693,0.182440,0.211768,0.241822,0.240904,0.227876,0.204660,0.171184,0.166068,0.160156,0.206113
Alberta,0.038427,0.048637,0.055745,0.040616,0.032290,0.012515,0.016029,0.013731,0.019334,0.028276,0.031033,0.044495
Manitoba,0.003189,0.003621,0.005609,0.016657,0.020006,0.015895,0.013128,0.008986,0.007998,0.012856,0.011345,0.009535
Newfoundland and Labrador,0.002376,0.003828,0.006891,0.027761,0.034115,0.028006,0.020948,0.015056,0.012458,0.015603,0.012043,0.009783
Nova Scotia,0.002285,0.002472,0.003274,0.031020,0.003369,0.017056,0.002548,0.000742,0.001266,0.002747,0.001257,0.000993
New Brunswick,0.001077,0.000999,0.001785,0.003500,0.015654,0.008074,0.001274,0.001140,0.002071,0.003443,0.002060,0.001415
Saskatchewan,0.000567,0.000469,0.000423,0.000724,0.001193,0.000959,0.000814,0.000477,0.000575,0.000989,0.000698,0.000348
Nunavut,0.000085,0.000061,0.000262,0.001267,0.002316,0.001009,0.000814,0.000371,0.000777,0.000952,0.000733,0.000397
Yukon,0.000082,0.000112,0.000309,0.000181,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Prince Edward Island,0.000000,0.000003,0.000000,0.000000,0.000000,0.000202,0.000354,0.000000,0.000000,0.000000,0.000000,0.000000

In [773]:
df_year_month_probablity_data[YEAR]["country_df"]#.style.background_gradient(cmap='Reds')

,1,2,3,4,5,6,7,8,9,10,11,12
Country of residence,,,,,,,,,,,,
China,0.166070,0.058086,0.045285,0.056126,0.079040,0.079477,0.047875,0.059879,0.073307,0.079958,0.061193,0.040051
Mexico,0.083545,0.085732,0.111128,0.351116,0.221606,0.199677,0.143873,0.091210,0.056390,0.050546,0.047893,0.049759
United Kingdom,0.080558,0.117321,0.119804,0.031744,0.030324,0.038502,0.076820,0.070058,0.058202,0.072852,0.085454,0.103268
France,0.075645,0.132771,0.090113,0.011768,0.027236,0.036534,0.072326,0.075015,0.068675,0.067358,0.056097,0.080772
Australia,0.075138,0.047297,0.039494,0.005190,0.006247,0.005450,0.009837,0.007607,0.007423,0.009633,0.010333,0.005438
...,...,...,...,...,...,...,...,...,...,...,...,...
Sao Tome and Principe,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Tokelau,0.000000,0.000000,0.000013,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Tibet,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Pitcairn,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Union of Soviet Socialist Republic,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

# Heat map for probablities

In [786]:
sns.set(rc = {'figure.figsize':(15,1)})

def country_heatmap_probablities(year):
    sns.heatmap(df_year_month_probablity_data[year]["country_df"].loc[["China","United Kingdom","France"]],
            annot = True, 
            linewidths=1,
            cmap="Blues",
            vmin=0.0, 
            vmax=1.0)
    plt.show()
interact(country_heatmap_probablities, year = (START_YR,END_YR))

interactive(children=(IntSlider(value=2019, description='year', max=2021, min=2017), Output()), _dom_classes=(…

In [787]:
sns.set(rc = {'figure.figsize':(15,5)})

def provience_heatmap_probablities(year):
    sns.heatmap(df_year_month_probablity_data[year]["provience_df"],
            annot = True, 
            linewidths=1,
            cmap="Blues",
            vmin=0.0, 
            vmax=1.0)
    plt.show()
interact(provience_heatmap_probablities, year = (START_YR,END_YR))

interactive(children=(IntSlider(value=2019, description='year', max=2021, min=2017), Output()), _dom_classes=(…

# Heat map for deman year wise

In [777]:
MONTH = 1

In [782]:
sns.set(rc = {'figure.figsize':(15,3)})

def country_heatmap_demand(year):
    sns.heatmap(df_year_month_entry_data[year][MONTH].loc[["China","United Kingdom","France","India","Australia"]],
            annot = True, 
            linewidths=1,
            cmap="Blues",
            vmin=0.0, 
            vmax=1.0)
    plt.show()
interact(country_heatmap_demand, year = (START_YR,END_YR))

interactive(children=(IntSlider(value=2019, description='year', max=2021, min=2017), Output()), _dom_classes=(…

# Save data in csv

In [793]:
NORMAL_COUNTRY_PROBABLITY = '../data/cleaned/canada/canada_country_normal_monthly_probablity.csv'
NORMAL_PROVIENCE_PROBABLITY = '../data/cleaned/canada/canada_provience_normal_monthly_probablity.csv'
PANDAMIC_COUNTRY_PROBABLITY = '../data/cleaned/canada/canada_country_pandamic_monthly_probablity.csv'
PANDAMIC_PROVIENCE_PROBABLITY = '../data/cleaned/canada/canada_provience_pandamic_monthly_probablity.csv'

In [794]:
df_year_month_probablity_data[2019]["country_df"].to_csv(NORMAL_COUNTRY_PROBABLITY)

In [795]:
df_year_month_probablity_data[2019]["provience_df"].to_csv(NORMAL_PROVIENCE_PROBABLITY)