In [1]:
import pandas as pd
import json

In [2]:
COUNTRIES_FILE = "../data/countries.csv"
COUNTRIES_FILE_CLEANED_CSV = "../data/cleaned/cleaned_earth_countries.csv"
COUNTRIES_FILE_CLEANED_JSON = "../data/cleaned/cleaned_earth_countries.json"

# Read Countries Data

In [3]:
countries_df = pd.read_csv(COUNTRIES_FILE, 
#                        index_col = 1, 
                       header=0)

# Country Data Cleaning

In [4]:
countries_df.drop(['iso_code','dafif_code'], inplace = True, axis =1)

In [5]:
list(countries_df.columns.values)

['name']

In [6]:
countries_df

                                  name
0    Bonaire, Saint Eustatius and Saba
1                                Aruba
2                  Antigua and Barbuda
3                 United Arab Emirates
4                          Afghanistan
..                                 ...
256                              Samoa
257                           Eswatini
258                              Yemen
259                             Zambia
260                           Zimbabwe

[261 rows x 1 columns]

# Create JSON Data

In [7]:
countries_json = {}

countries_count = len(countries_df)

for country_index in range(countries_count):
    country_name = countries_df.iloc[country_index]["name"]
    countries_json[country_name] = {
        "airports": [],
        "airlines": {}
    }

# Save Country Data

In [8]:
countries_df.to_csv(COUNTRIES_FILE_CLEANED_CSV)

In [9]:
with open(COUNTRIES_FILE_CLEANED_JSON, 'w') as fp:
    json.dump(countries_json, fp)