In [1]:
import pandas as pd
import json

In [2]:
EU_COUNTRIES_FILE_CLEANED_CSV = "../data/cleaned/eu_cleaned_countries.csv"

EU_COUNTRIES_2019_FILE_CLEANED_JSON = "../data/cleaned/eu_cleaned_countries_2019.json"
EU_COUNTRIES_2019_FILE_CLEANED_CSV = "../data/cleaned/eu_cleaned_countries_2019.csv"

EU_AIRPORTS_2019_FILE_CLEANED_CSV = "../data/cleaned/eu_cleaned_airports_2019.csv"

COUNTRIES_FILE_CLEANED_JSON = "../data/cleaned/cleaned_earth_countries.json"

# Read Countries Data

In [3]:
eu_countries_df = pd.read_csv(EU_COUNTRIES_FILE_CLEANED_CSV, 
                               index_col = 0, 
                               header=0)
# eu_countries_df

In [4]:
eu_airports_2019 = pd.read_csv(EU_AIRPORTS_2019_FILE_CLEANED_CSV, 
                               index_col = 0, 
                               header=0)
# eu_airports_2019

# Country Data Cleaning

In [5]:
eu_countries_2019_df = eu_countries_df.join(eu_airports_2019.groupby('Country').count(),
                                         on="country",
                                         how="inner")
# eu_countries_2019_df

In [6]:
eu_countries_2019_df.drop(['Name','City','Latitude','Longitude','Altitude','IATA'], inplace = True, axis =1)

In [7]:
list(eu_countries_2019_df.columns.values)

['country']

In [8]:
eu_countries_2019_df.reset_index(drop=True, inplace=True)
eu_countries_2019_df.head()

          country
0         Austria
1         Belgium
2        Bulgaria
3         Croatia
4  Czech Republic

# Create JSON Data

In [9]:
with open(COUNTRIES_FILE_CLEANED_JSON) as f:
    all_countries = json.load(f)

In [10]:
eu_2019_countries_json = {}

eu_countries_count = len(eu_countries_2019_df)

for country_index in range(eu_countries_count):
    country_name = eu_countries_2019_df.iloc[country_index]["country"]
    eu_2019_countries_json[country_name] = all_countries[country_name]
    
# eu_2019_countries_json

# Save Country Data

In [11]:
eu_countries_2019_df.to_csv(EU_COUNTRIES_2019_FILE_CLEANED_CSV)

In [12]:
with open(EU_COUNTRIES_2019_FILE_CLEANED_JSON, 'w') as fp:
    json.dump(eu_2019_countries_json, fp)